:root {
    --navy: #4E6E81;
    --gold: #F8CB2E;
    --pink: #FAEDF0;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    /* for numbers - font-family: "Andale Mono", Consolas, monospace; */
    line-height: 1.3;
    background-color: var(--navy);
    color: var(--pink);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* content area */
.card {
    width: 800px;
    height: 500px;
    border: 2px solid var(--gold);
}

/* starting page */
#starting-page {
    display: block;
    padding: 110px;
}

#starting-page h1 {
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#starting-page ul {
    text-align: center;
    margin-top: 7%;
}

#starting-page ul li {
    font-weight: 100;
    margin-bottom: 1%;
}

#starting-page .start-button {
    border: 1.5px dashed var(--gold);
    border-radius: 20px;
    padding: 2%;
    width: 200px;
    margin-top: 9%;
    font-weight: bolder;
    letter-spacing: 0.5px;
    color: var(--gold);
    cursor: pointer;
    display: block;
    margin: 10% auto 0;
}

#starting-page .start-button:hover {
    border: 1.5px solid var(--gold);
    background-color: var(--gold);
    color: var(--navy);
}

/* quiz */
#quiz {
    display: none;
    position: relative;
    padding: 3.5% 4.5%;
}

/* question h2 */
#quiz .question {
    margin-bottom: 4%;
    width: 650px;
    font-size: 190%;
}
/* answer button +hover */


#quiz button {
    margin-top: 1.5%;
    display: block;
    max-width: 600px;
    padding: 1.5% 5%;
    border: 1.5px dashed var(--gold);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 100;
    font-size: 115%;
}

#quiz button:hover {
    border: 1.5px solid var(--gold);
    background-color: var(--gold);
    color: var(--navy);
}

/* answer is right or wrong */
#quiz .result {
    margin: 3% 0 0 3%;
    font-size: 120%;
    font-weight: bolder;
    font-style: oblique;
    letter-spacing: 0.5px;
    color: var(--gold);
}

/* aside (timer/score/view high score)*/
#quiz aside {
    /* border: 1px solid var(--gold); */
    width: 150px;
    height: 200px;
    position: absolute;
    left: 720px;
    top: 40px;
}

#quiz #timer {
    border: 2px solid var(--gold);
    border-radius: 20px 20px 0 0;
    padding: 5%;
}

#quiz #timer h4, #quiz #timer .timer-counter{
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-family: "Andale Mono", Consolas, monospace;
    font-size: 50px;
    color: var(--gold)
}

#quiz #score {
    border: 2px solid var(--gold);
    border-top: none;
    border-bottom: none;
    padding: 5%;
}

#quiz #score .score-counter{
    text-align: center;
    font-family: "Andale Mono", Consolas, monospace;
    font-size: 50px;
    color: var(--gold)
}

#quiz #view-highscore{
    width: 150px;
    margin-top: -1px;
    border: 2px solid var(--gold);
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 5%;
    background-color: var(--gold);
    color: var(--navy);
    font-size: smaller;
}

#quiz #view-highscore:hover{
    cursor: pointer;
    background-color: var(--navy);
    color: var(--gold);
}

/* game over */
#game-over {
    display: none;
    padding: 10%;
}

#game-over h3 {
    text-align: center;
    font-size: 150%;
    font-weight: 100;
}

#game-over p {
    text-align: center;
}

#game-over .final-score {
    text-align: center;
    font-family: "Andale Mono", Consolas, monospace;
    font-size: 700%;
    color: var(--gold);
}

#game-over .submit-initials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#game-over .submit-initials .input-initials,
#game-over .submit-initials .submit-button {
    padding: 2%;
    margin-top: 7%;
}

#game-over .submit-initials .input-initials {
    border: 1.5px solid var(--gold);
    border-right: none;
    border-radius: 20px 0 0 20px;
    width: 300px;
    font-family: "Andale Mono", Consolas, monospace;
}

::placeholder {
    color: var(--pink);
}

#game-over .submit-initials .input-initials:focus {
    outline: none;
}

#game-over .submit-initials .submit-button {
    cursor: pointer;
    border: 1.5px solid var(--gold);
    border-radius: 0 20px 20px 0;
    width: 97px;
    background-color: var(--gold);
    color: var(--navy);
}

#game-over .submit-initials .submit-button:hover {
    background-color: var(--navy);
    color: var(--pink);
}

/* high scores */
#high-scores {
    display: none;
    padding: 10%;
}

#high-scores h2 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#high-scores .score-list {
    width: 350px;
    height: 175px;
    margin: auto;
    padding: 4%;
    border: 1.5px solid var(--gold);
    border-radius: 20px 20px 0 0;
    background-color: var(--gold);
    overflow: auto;
}

#high-scores .score-list .score {
    margin-left: 2.5vw;
}

#high-scores .score-list .score li {
    background-color: var(--gold);
    color: var(--navy);
    font-family: "Andale Mono", Consolas, monospace;
    list-style: num;
}

/* style buttons so they are in one row */
#high-scores .goback-clear {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#high-scores .goback-clear .go-back,
#high-scores .goback-clear .clear {
    border: 1.5px solid var(--gold);
    width: 175px;
    color: var(--gold);
    padding: 2%;
    cursor: pointer;
}

#high-scores .goback-clear .go-back:hover,
#high-scores .goback-clear .clear:hover {
    background-color: var(--gold);
    color: var(--navy);
}

#high-scores .goback-clear .go-back {
    border-radius: 0 0 0 20px;
    border-right: none;
}

#high-scores .goback-clear .clear {
    border-radius: 0 0 20px 0;
}

@media screen and (max-width: 769px) {
    .card {
        width: 550px;
        height: 343.75px;
    }

    #starting-page {
        padding: 75.625px;
    }

    #starting-page h1 {
        font-size: 175%;
    }

    #starting-page ul {
        margin-top: 5%;
    }

    #starting-page ul li {
        font-size: 90%;
    }
    
    #starting-page .start-button {
        width: 137.5px;
        margin: 9% auto 0;
    }

    #quiz .question {
        width: 420px;
        height: auto;
        margin-bottom: 2.75%;
        font-size: 130%;
    }
    
    #quiz button {
        max-width: 420px;
        font-size: 85%;
    }
    
    #quiz .result {
        font-size: 100%;
    }

    #quiz aside {
        width: 103.125px;
        height: 137.5px;
        left: 495px;
        top: 27.5px;
    }
    
    #quiz #timer h4, #quiz #timer .timer-counter,
    #quiz #score .score-counter {
        font-size: 34.375px;
    }
    
    #quiz #view-highscore{
        width: 103.125px;
        font-size: 70%;
    }

    #game-over {
        padding: 6.875%;
    }
    
    #game-over h3 {
        font-size: 103.125%;
    }
    
    #game-over .final-score {
        font-size: 481.25%;
    }
    
    #game-over .submit-initials .input-initials {
        width: 206.25px;
        font-size: 85%;
    }
    
    #game-over .submit-initials .submit-button {
        width: 66.6875px;
        font-size: 85%;
    }

    #high-scores {
        padding: 10%;
    }
    
    #high-scores h2 {
        font-size: 137.5%;
    }
    
    #high-scores .score-list {
        width: 240.625px;
        height: 120.3125px;
        padding: 2.75%;
    }
    
    #high-scores .score-list .score {
        margin-left: 2.5vw;
    }
    
    #high-scores .score-list .score li {
        font-size: 85%;
    }
    
    #high-scores .goback-clear .go-back,
    #high-scores .goback-clear .clear {
        width: 120.3125px;
        font-size: 85%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 350px;
        height: 600px;
    }

    #starting-page {
        padding: 100px 75px;
    }
    
    #starting-page h1 {
        font-size: 200%;
    }
    
    #starting-page ul {
        margin-top: 30%;
    }
    
    #starting-page ul li {
        margin-bottom: 7%;
    }
    
    #starting-page .start-button {
        padding: 5%;
        width: 150px;
        margin: 25% auto 0;
    }

    #quiz {
        padding: 3.5% 6%;
    }
    
    /* question h2 */
    #quiz .question {
        margin-bottom: 4%;
        width: 275px;
        font-size: 175%;
    }
    /* answer button +hover */
    
    
    #quiz button {
        margin-top: 1.5%;
        display: block;
        max-width: 600px;
        padding: 1.5% 5%;
        border: 1.5px dashed var(--gold);
        border-radius: 20px;
        cursor: pointer;
        font-weight: 100;
        font-size: 115%;
    }
    
    /* answer is right or wrong */
    #quiz .result {
        margin: 3% 0 0 3%;
        font-size: 120%;
        font-weight: bolder;
        font-style: oblique;
        letter-spacing: 0.5px;
        color: var(--gold);
    }
    
    /* aside (timer/score/view high score)*/
    #quiz aside {
        /* border: 1px solid var(--gold); */
        width: 150px;
        height: 200px;
        position: absolute;
        left: 720px;
        top: 40px;
    }
    
    #quiz #timer {
        border: 2px solid var(--gold);
        border-radius: 20px 20px 0 0;
        padding: 5%;
    }
    
    #quiz #timer h4, #quiz #timer .timer-counter{
        border-radius: 20px 20px 0 0;
        text-align: center;
        font-family: "Andale Mono", Consolas, monospace;
        font-size: 50px;
        color: var(--gold)
    }
    
    #quiz #score {
        border: 2px solid var(--gold);
        border-top: none;
        border-bottom: none;
        padding: 5%;
    }
    
    #quiz #score .score-counter{
        text-align: center;
        font-family: "Andale Mono", Consolas, monospace;
        font-size: 50px;
        color: var(--gold)
    }
    
    #quiz #view-highscore{
        width: 150px;
        margin-top: -1px;
        border: 2px solid var(--gold);
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 5%;
        background-color: var(--gold);
        color: var(--navy);
        font-size: smaller;
    }
}